@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Bold.eot");
  src: local("☺"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1130px;
  padding: 0px 15px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.title {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
}
.title::after {
  content: "";
  display: block;
  width: 82px;
  height: 2px;
  background-color: #000000;
  margin: 30px auto 0 auto;
}

.text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
}

.header {
  text-align: center;
}
.header__fullscreen {
  padding: 150px 0px;
  background: url("../img/bg.png") 0 0/cover no-repeat;
  min-height: 100vh;
}
.header__logo {
  margin: 0px 0px 130px 0px;
}
.header__title {
  margin: 0px 0px 220px 0px;
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #ffffff;
}
.header__title::after {
  content: "";
  display: block;
  width: 105px;
  height: 2px;
  background-color: #fff;
  margin: 40px auto 0 auto;
}
.header__title span {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
}
.header__btn {
  display: inline-block;
  line-height: 40px;
  width: 182px;
  height: 47px;
  border: 1px solid #fff;
  margin: 70px auto;
  padding: 0px 10px;
}
.header__arrow {
  display: block;
}

.menu {
  border-bottom: 1px solid #f2f2f2;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
}
.menu__item {
  margin: 0px 60px 0px 0px;
}
.menu__item:last-child {
  margin: 0px 0px 0px 0px;
}
.menu__link {
  color: #3c3c3c;
}
.menu__link:hover {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #ada074;
}

.about__body {
  padding: 130px 0px 90px 0px;
}
.about__title {
  text-align: center;
  margin: 0px 0px 37px 0px;
}
.about__text {
  text-align: center;
  margin: 0px 0px 65px 0px;
}
.about__row {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -41.5px;
}
.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 41.5px;
}
.about__icon {
  border: 1px solid #f3f3f3;
  margin: 40px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__head {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.16em;
  color: #000000;
  margin: 0px 0px 30px 0px;
}

.portfolio {
  text-align: center;
  background-color: #f3f3f3;
}
.portfolio__body {
  padding: 100px 0px 60px 0px;
}
.portfolio__title {
  margin: 0px 0px 50px 0px;
}
.portfolio__menu {
  margin: 0px 0px 130px 0px;
}
.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -13px 15px -13px;
}
.portfolio__row_big {
  margin: 0px -13px 60px -13px;
}
.portfolio__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 13px;
}
.portfolio__btn {
  display: inline-block;
  width: 182px;
  height: 47px;
  line-height: 40px;
  color: #000000;
  border: 1px solid #000000;
  padding: 0px 10px;
  margin: 0 auto;
}

.our {
  background: url("../img/bg_our.png") center/cover no-repeat;
}
.our__inner {
  padding: 100px 0px;
  text-align: center;
}
.our__body {
  max-width: 585px;
  margin: 0px auto;
}
.our__title {
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0px 0px 90px 0px;
}
.our__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__inner {
  padding: 150px 0px 100px 0px;
}
.contact__body {
  max-width: 719px;
  margin: 0 auto;
}
.contact__title {
  text-align: center;
  margin: 0px 0px 110px 0px;
}
.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -25px;
}
.contact__column {
  padding: 0px 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.contact__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
  margin: 0px 0px 30px 0px;
}
.contact__author {
  margin: 0px 0px 20px 0px;
  font-weight: 700;
}
.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
}
.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 15px 0px 0px;
  border: 2px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.contact__link:last-child {
  margin: 0px 0px 0px 0px;
}
.contact__email a {
  font-weight: 700;
  color: #000000;
}

.form-contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -25px 70px -25px;
}
.form-contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 25px;
}
.form-contact__column input {
  padding: 10px 20px;
  width: 100%;
  height: 35px;
  background-color: #f8f7f7;
  border-top: 1px solid black;
}
.form-contact__label {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  margin: 0px 0px 15px 0px;
}
.form-contact__input {
  margin: 0px 0px 15px 0px;
}
.form-contact__input textarea {
  padding: 10px 20px;
  width: 100%;
  height: 100px;
  background-color: #f8f7f7;
  border-top: 1px solid black;
}
.form-contact__btn {
  text-align: right;
}
.form-contact__btn button {
  background-color: transparent;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
}

.footer {
  background-color: #3c3c3c;
  text-align: center;
}
.footer__body {
  padding: 50px 0px;
}
.footer__logo {
  margin: 0px 0px 40px 0px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 30px 0px;
}
.footer__list li {
  margin: 0px 30px 0px 0px;
}
.footer__list li:last-child {
  margin: 0px 0px 0px 0px;
}
.footer__link {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #a4a4a4;
}
.footer__copyright {
  font-family: "Myriad Pro";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
}

@media (max-width: 490px) {
  .header__fullscreen {
    padding: 50px 0px;
  }
  .header__title {
    margin: 0px 0px 100px 0px;
  }
  .menu__list {
    display: block;
  }
  .menu__item {
    margin: 0px 0px 15px 0px;
  }
}
@media (max-width: 992px) {
  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 600px) {
  .form-contact__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-contact__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 30px 0px;
  }
  .form-contact__column:last-child {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 768px) {
  .contact__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 30px 0px;
  }
  .contact__column:last-child {
    margin: 0px 0px 0px 0px;
  }
  .form-contact__btn {
    text-align: center;
  }
}
@media (max-width: 1150px) {
  .portfolio__menu {
    margin: 0px 0px 50px 0px;
  }
  .portfolio__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 15px 0px;
  }
  .portfolio__column:last-child {
    margin: 0px 0px 0px 0px;
  }
}